.jumbotron h1 {
  color: CornflowerBlue;
}

.jumbotron p {
  color:  LightSlateGrey;
}

h2 {
  font-size: 30px;
  color: CornflowerBlue;
}

.ul {
  font-size: 20px;
  color:  LightSlateGrey;
}


p {
  color: LightSlateGrey;
  font-size: 20px;
}
  
.th {
  color: LightSlateGrey;
  font-size: 20px;
}

body {
background-image: url("kindajean.png");
}

P.blocktext {
margin-right: auto;
width: 30em
}

IMG.displayed {
display: block;
margin-left: auto;
margin-right: auto
}

.zentrierte-tabelle {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: auto;
